.logo {
  line-height: 1;
}
@media (min-width: 1200px) {
  .logo {
    width: 200px;
  }
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
  color: #012970;
}
.logo span {
  font-size: 18px;
  font-weight: 700;
  color: #012970 !important;
  font-family: 'Nonito', sans-serif;
}
